:root{
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: "League Spartan", sans-serif;
    background-color: var(--light-grayish-magenta);
    overflow: hidden;
}

.top-pattern{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.bottom-pattern{
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
}

.grid-container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1.5em;
    grid-template-areas: 
    "item-1 item-1 item-1"
    "item-2 item-3 item-4";

    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;

    margin: 10em 11em;
}

.sub-grid-container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 4em;
    grid-template-areas: 
    "subitem-1 subitem-2";
}

.header{
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 3em;
    text-align: left;

    font-size: 50px;
    font-weight: 700;
    color: var(--very-dark-magenta);
}

.desc{
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-grayish-magenta);

    text-align: left;
    margin-right: 5em;
    line-height: 1.4;
}

.subitem-2{
    justify-content: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews{
    display: flex;
    justify-content: start;
}

.report-guru{
    display: flex;
    justify-content: center;
}

.besttech{
    display: flex;
    justify-content: end;
}

.rating{
    display: flex;
    background-color: hsl(300, 26%, 91%);
    border-radius: 10px;
    align-items: center;
    padding: 20px 26px;
}

.stars{
    justify-content: space-evenly;
    display: flex;
    gap: 0.5em;
    margin-right: 30px;
}

.who-rated{
    color: hsl(300, 43%, 22%);
    font-size: 18px;
    font-weight: 700;
}

.profile-box{
    background-color: var(--very-dark-magenta);
    border-radius: 10px;
    padding: 40px;
    height: auto;
    align-items: center;
}

.person{
    display: flex;
    align-items: center;
    gap: 1.3em;
    margin-bottom: 1.5em;
}

.profile-pic{
    object-fit: contain;
    border-radius: 50%;
    width: 3em;
    height: auto;
}

.person-details{
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

.colton{
    display: flex;
    align-items: start;
}

.irene{
    display: flex;
    align-items: center;
}

.anne{
    display: flex;
    align-items: end;
}

.name{
    font-size: 17px;
    font-weight: 500;
    color: var(--white);
}

.buyer{
    font-size: 17px;
    font-weight: 400;
    color: var(--soft-pink);
}

.personal-review{
    font-size: 16.5px;
    font-weight: 400;
    color: var(--white);
    line-height: 1.4;
}

/* be sure to use stuff like "start", "center", "end"
alignment of columns
justify-content:;

alignment of rows in viewport
align-content:

horizontal alignment
justify-items:

vertical alignment
align-items: */