body{
    font-family: "League Spartan", sans-serif;
    background-color: hsl(300, 24%, 96%);
    overflow: hidden;
}

.top-pattern{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.bottom-pattern{
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
}

.grid-container{
    display: grid;
    background-color: aqua;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1em;
    grid-template-areas: 
    "item-1 item-1 item-1"
    "item-2 item-3 item-4";

    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;

    /* justify-content: center; */
    /* align-content: center; */
    margin: 12em 19em;
}

.item{
    background-color: rgb(163, 163, 255);
}

.sub-grid-container{
    display: grid;
    background-color: aquamarine;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1em;
    grid-template-areas: 
    "subitem-1 subitem-2";
}

.sub-item{
    background-color: rgb(0, 194, 129);
}

.header{
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 200px;

    font-size: 44px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.desc{
    font-size: 15px;
    font-weight: 500;
    color: hsl(303, 10%, 53%);

    margin-right: 170px;
    line-height: 1.4;
}