body{
    font-family: "League Spartan", sans-serif;
    background-color: hsl(300, 24%, 96%);
    overflow: hidden;
}

.top-pattern{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.bottom-pattern{
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
}

.grid-container{
    display: grid;
    background-color: aqua;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1.5em;
    grid-template-areas: 
    "item-1 item-1 item-1"
    "item-2 item-3 item-4";

    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;

    /* justify-content: center; */
    /* align-content: center; */
    margin: 10em 24em;
}

.item{
    background-color: rgb(163, 163, 255);
}

.sub-grid-container{
    display: grid;
    background-color: aquamarine;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 4em;
    grid-template-areas: 
    "subitem-1 subitem-2";
}

.sub-item{
    background-color: rgb(0, 194, 129);
}

.header{
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 3em;
    text-align: left;

    font-size: 50px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.desc{
    font-size: 18px;
    font-weight: 500;
    color: hsl(303, 10%, 53%);

    text-align: left;
    margin-right: 5em;
    line-height: 1.4;
}

.subitem-2{
    justify-content: center;
    /* align-items: center; */

    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: aliceblue;
}

.reviews{
    display: flex;
    justify-content: start;
}

.report-guru{
    display: flex;
    justify-content: center;
}

.besttech{
    display: flex;
    justify-content: end;
}

.rating{
    display: flex;
    background-color: hsl(300, 26%, 91%);
    border-radius: 10px;
    align-items: center;
    padding: 20px 26px;
}

.stars{
    justify-content: space-evenly;
    display: flex;
    gap: 0.5em;
    margin-right: 30px;
}

.who-rated{
    color: hsl(300, 43%, 22%);
    font-size: 18px;
    font-weight: 700;
}

.profile-pic img{
    object-fit: contain;
    border-radius: 50%;
    width: 16%;
    height: auto;
}

.profile-box{
    background-color: hsl(300, 43%, 22%);
    border-radius: 16px;
    padding: 40px;
    height: 10em;
}

.colton{
    display: flex;
    align-items: start;
}

.irene{
    display: flex;
    align-items: center;
}

.anne{
    display: flex;
    align-items: end;
}

/* be sure to use stuff like "start", "center", "end"
alignment of columns
justify-content:;

alignment of rows in viewport
align-content:

horizontal alignment
justify-items:

vertical alignment
align-items: */